---
BasedOnStyle: LLVM
---
Language: Cpp
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowAllArgumentsOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: 'true'
AllowShortLambdasOnASingleLine: 'true'
AllowShortEnumsOnASingleLine: 'false'
AlignConsecutiveMacros: Consecutive
BitFieldColonSpacing: After
BreakBeforeConceptDeclarations: 'true'
BreakBinaryOperations: RespectPrecedence
EmptyLineBeforeAccessModifier: LogicalBlock
EnumTrailingComma: Insert
FixNamespaceComments: 'true'
IndentExternBlock: Indent
IndentGotoLabels: 'false'
IndentRequiresClause: 'true'
InsertBraces: 'false'
InsertTrailingCommas: Wrapped
LambdaBodyIndentation: Signature
PPIndentWidth: 4
PenaltyBreakAssignment: 1000
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakOpenParenthesis: 1000
PenaltyBreakBeforeMemberAccess: 10
PenaltyIndentedWhitespace: 1
ContinuationIndentWidth: 2
ReferenceAlignment: Left
# RemoveBracesLLVM: 'true'
RequiresClausePosition: OwnLine
SeparateDefinitionBlocks: Always
SpaceAfterLogicalNot: 'false'
SpaceAroundPointerQualifiers: After
SpaceBeforeCaseColon: 'false'
AlwaysBreakAfterDefinitionReturnType: None
SpaceBeforeSquareBrackets: 'false'
SpaceInEmptyBlock: 'false'
AttributeMacros: [STORMKIT_FORCE_INLINE, STORMKIT_API, STORMKIT_PRIVATE, STORMKIT_PUBLIC, STORMKIT_CONST, STORMKIT_PURE, STORMKIT_INTRINSIC]
IfMacros: [CASE_DO, CASE_DO_RETURN, CASE, CASE_ARGS_DO]
BreakAfterAttributes: Always
Macros:
  - STORMKIT_FORCE_INLINE=[[maybe_unused]]
  - STORMKIT_API=[[maybe_unused]]
  - STORMKIT_PRIVATE=[[maybe_unused]]
  - STORMKIT_PUBLIC=[[maybe_unused]]
  - STORMKIT_CONST=[[maybe_unused]]
  - STORMKIT_PURE=[[maybe_unused]]
  - STORMKIT_INTRINSIC=[[maybe_unused]]
  
QualifierAlignment: Custom
QualifierOrder: [static, inline, volatile, restrict, constexpr, const, type]

SpacesInLineCommentPrefix:
  Minimum: '1'
  Maximum: '4'

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: 'true'
ColumnLimit: '100'
CompactNamespaces: 'true'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
ConstructorInitializerIndentWidth: '4'
IncludeBlocks: Preserve
IndentCaseLabels: 'true'
IndentWidth: '4'
IndentWrappedFunctionNames: 'true'
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Cpp11BracedListStyle: 'false'
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: All
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: false
PointerAlignment: Left
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'true'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'false'
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
Standard: c++20
TabWidth: '4'
UseTab: Never
---
Language: ObjC
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowAllArgumentsOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: 'true'
AllowShortLambdasOnASingleLine: 'true'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
BreakBinaryOperations: OnePerLine
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: 'true'
ColumnLimit: '100'
CompactNamespaces: 'true'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
ConstructorInitializerIndentWidth: '4'
ContinuationIndentWidth: '4'
IncludeBlocks: Preserve
IndentCaseLabels: 'true'
IndentWidth: '4'
IndentWrappedFunctionNames: 'true'
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Cpp11BracedListStyle: 'false'
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: All
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: false
PointerAlignment: Right
PenaltyBreakAssignment: 1000
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakOpenParenthesis: 1000
PenaltyBreakBeforeMemberAccess: 10
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'true'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'false'
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
Standard: c++20
TabWidth: '4'
UseTab: Never
PenaltyIndentedWhitespace: '1'
QualifierAlignment: Custom
QualifierOrder: [static, inline, volatile, restrict, constexpr, const, type]
AttributeMacros: [STORMKIT_FORCE_INLINE, STORMKIT_API, STORMKIT_PRIVATE, STORMKIT_PUBLIC]
IfMacros: [CASE_DO, CASE_DO_RETURN, CASE, CASE_ARGS_DO]
BreakAfterAttributes: Always
